---

import { Image } from "astro:assets";

---

<nav class="absolute flex w-1/2 justify-between px-6 py-4 items-center md:px-10 lg:px-16 md:py-5 lg:py-6 z-20">
    <Image src="/favicon.svg" alt="Logo" width={100} height={100} class="w-12" />
    <a href="https://github.com/khairalanam" class="border text-sm px-4 py-2 rounded-full hover:bg-white hover:text-slate-950 transition md:text-base md:px-6 lg:text-lg lg:px-8">Streamlit</a>
</nav>